<xml version="1.0">
<dashboard>
	<widget field="KP" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="63"/>
	</widget>
	<widget field="KI" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="42"/>
	</widget>
	<widget field="KF" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="21"/>
	</widget>
	<widget field="KD" type="Number" class="edu.wpi.first.smartdashboard.gui.elements.TextBox">
		<location x="0" y="0"/>
	</widget>
</dashboard>
<live-window>
</live-window>
</xml>